.logo::before {
  content: "";
  background-image: url(img/umbrella.svg);
  background-size: 24px 24px;
  display: inline-block;
  width: 24px; 
  height: 24px;
  margin-right: 5px;
  margin-left: -5px;
}
